<h1>Meme Search</h1>
<a href="/terms">View Terms</a>
<a href="/documents">View Documents<a>

<form action="/">
  <input type="text" name="q" value="<%= params[:q] -%>"/>
  <input type="submit" value="Search"/>
</form>

<% @documents.each do |doc| -%>
  <div>
    <h3><a href="<%= doc[:document].url -%>"><%= doc[:document].title -%></a></h3>
    <p><%= safe_join( doc[:snippets].map(&:to_html).map(&:to_s), "...") -%></p>
  </div>
<% end -%>
